<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
      <aside class="span6">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/post_form' %>
        </section>
      </aside>
      <div class="span6">
        <h3>Dreams</h3>
        <%= render 'shared/post' %>
      </div>
    </div>
  <% else %>
    <div class="center hero-unit">
      <h1>Do you want</h1>
      <h1>to take a</h1>
      <h1>leap of faith?</h1>
      <%= link_to "Leap!", users_path, method: :post, class: "btn btn-large btn-inverse" %>
    </div>
<% end %>