<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">What is Night Mode?</h3>
  </div>
  <div class="modal-body">
    <p>Night mode enables you to record your dreams by placing your keyboard/laptop next to your bed and typing with your eyes closed. It will:</p>
    <ul>
      <li>Disable all keys that could mess up the cursor (ie: tab)</li>
      <li>Force the cursor to the bottom-most portion of text.</li>
      <li>Auto-submit dreams after 5 minutes of not typing.</li>
    </ul>
    <p>It is recommended to turn down your screen brightness, and to set your computer to not go into suspend over the night.</p>
  </div>
  <div class="modal-footer">
    <button class="btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
