@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  color: #ededed;
  background-color: #494949;
}

a {
  color: #cd680b
}

a:hover {
  color: #ea760c
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center.hero-unit{
  text-align: right;
  height: 400px;
  background: url(spinning-top2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  text-align: right;
  test-align: bottom;
}

.center h1 {
  margin-bottom: 50px;
  text-align: right;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #ededed;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  font-size: 1.7em;
  color: #ededed;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #999;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0 10px;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 3px solid #bbb;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    border-top: 1px solid #e8e8e8;
    padding: 5px 0;
    li{
      border-top: none;
      padding: none;
    }
    p{
      margin: 0;
      line-height: 1.2em;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#post_content {
  height: 300px;
}

#lucid-donut {
  padding-top: 30px;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

#metrics {
  border-top: 1px solid #eeeeee;
}

input[type="checkbox"] {

}

.night-label{
  display: inline;
  padding-right: 7px;
  margin-top: 5px;
}

.navbar-inner{
  .container {
    >a,
    >h4,
    >nav{
      width: 33%;
      float: left;
      margin: 0;
      padding: 0;
      line-height: 41px;
    }
    >h4{
      text-align: center;
      color: #ea760c
    }
    >nav{
      position: relative;
      >ul{
        left: auto;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
      }
    }
  }
}

.content{
  >i {
    float: left;
    display: block;
    margin-right: 5px;
  }
}

.night-area, #submit-post{
  text-align: right;
  label{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }
  input{
    margin-top: 0;
  }
}

.orange {
  color: #ea760c !important;
}

.icon-eye-open {
  zoom: 1.5;
  -moz-transform: scale(1.5);
}

#myModal, #edit_modal{
  background-color: #494949;
}

#edit_text_area {
  height: 200px;
  margin-bottom: 5px;
}

.edit_button{
  margin-top: 0px;
  margin-bottom: 10px;
  float: right;
  margin-right: 10px;
}


.modal-footer{
  background-color: #494949;
}

.question-link{
  font-size: 20px;
  padding-right: 5px;
}
